# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/playwright-report
/test-results

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
logs/
*.logs

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Equilivra specific exclusions
Dossier_Equilivra_ES-2.pdf
extract_icon.py
# If there's an original .git that was nested, but it should be gone now.
test-out/
